:root{
}

.bg{
  position:absolute;
  left:0;
  width:100%;
  height:150vh;
 
}
.bg img {
   position:absolute;
  left:0;
  width:100%;
  height:150vh;
  filter : grayscale(100%);
  -webkit-filter: grayscale(100%);
  background-image : url("assets/bg_47.gif");
  background-blend-mode: luminosity;
}

